.intro {
  min-height: 70px;
  padding: 51px 45px 60px;
  background-color: @background-color-main;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center, bottom;
  background-size: cover, cover;
}

.intro--index {
  min-height: 214px;
  padding: 90px 20px 86px;
}

.intro__text {
  max-width: 320px;
  margin: 0 auto;

  img {
    width: 100%;
  }
}
