.recommendations {
  .list-reset;
  padding: 41px 41px 42px 69px;
  display: flex;
  flex-direction: column;

  text-align: left;

  background-color: @background-color-recommendations;
}

.recommendations__item {
  position: relative;
}

.recommendations__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @color-black;
}

.recommendations__item--accommodation::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 38px;
  background-image: url("../img/icon-house.svg");
  background-size: 39px 37px;
}

.recommendations__item--souvenirs::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 38px;
  background: url("../img/icon-gift.svg") no-repeat;
  background-size: 32px 38px;
}

.recommendations__item--food::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 38px;
  background: url("../img/icon-burger.svg") no-repeat;
  background-size: 40px 35px;
}

.recommendations__description {
  margin-bottom: 29px;

  color: @color-recommendations;
}
